// bower:scss
@import "bower_components/bootstrap/scss/bootstrap";
@import "lux";
// enbower

// Media queries breakpoints
$screen-desktop: 1024px;
$screen-tablet: 767px;
$screen-phone: 480px;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

main.container {
  padding: 80px 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.field-required:after {
  content: "*";
  color: #f00;
}

/* nav bar styles
-------------------------------------------------- */
.navbar {
  padding-top: 0;
  padding-bottom: 0;

  .container {
    position: relative;

    .logged-user {
      position: absolute;
      right: 30px;
      top: 5px;
      text-transform: capitalize;
    }
  }
}

.navbar-brand img {
  height: 100px;
}

.nav-item {
  margin: 0;
}

.student-list {

  tr {
    cursor: pointer;
  }

  .student-profile-container {
    padding: 0 0 0 100px;
    border: 0;

    .jumbotron {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

}

.jumbotron .avatar {
  width: 100%;
}

.card-body .jumbotron {
  padding: 1rem 1rem;

  .tab-pane {
    max-width: 500px;
    margin: 3rem auto;
  }
}

/* card styles
-------------------------------------------------- */
.card-deck .card {
  min-height: 250px;
}

.card-header {
  &:first-child {
    border-radius: 0;
  }
  .score {
    float: right;
    font-weight: bold;
  }
}

.card-footer {
  background: none;
  border: none;
}

/* schedule styles
-------------------------------------------------- */

.schedule-desc {

  padding: 0.5rem 0 3rem;

  .card.past {
    .card-header .btn-link {
      color: #bbb;
    }
  }

  .card-header {
    padding: 0;
    .btn {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem 1.25rem;
      text-transform: capitalize;
      text-decoration: none;

      .row span:last-child {
        text-align: right;
      }

      @media (max-width: $screen-tablet) {
        span[class^="col"] {
          max-width: 100%;
        }
      }
    }

    .badge {
      font-weight: normal;
      font-size: .8rem;

      &.badge-pill {
        line-height: 1rem;
      }
    }
  }
}

.schedule-desc--mentor {
  .card-header {
    .btn .row span:last-child {
      text-align: left;
    }
  }
}

/* table-score
-------------------------------------------------- */

.table-score {
  a {
    color: #0278b8;
  }

  @media (max-width: $screen-tablet) {
    th:nth-child(3), td:nth-child(3) {
      display: none;
    }

    td, th {
      font-size: .9rem;
    }
  }

  @media (max-width: $screen-phone) {
    th:nth-child(3), td:nth-child(3), th:nth-child(5), td:nth-child(5) {
      display: none;
    }
    td, th {
      font-size: .6rem;
    }
  }

}

/* login form styles
-------------------------------------------------- */
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  img {
    max-width: 500px;
  }
}

.partner-list {

  align-items: center;

  div[class*="col-"] {
    text-align: center;
  }

  img {
    max-width: 200px;
    vertical-align: middle;
    opacity: .2;
  }
}

.people-quantity {
  background: #D5FBF2;
  color: #777;
  display: inline-block;
  padding: 30px;
  margin: 0 10px;
  text-align: center;
  font-size: 40px;

  &:hover {
    background: #6aedc7;
    text-decoration: none;
  }
}

/* student-cv
-------------------------------------------------- */
.student-cv {
  .badge-info {
    line-height: 1rem;
  }
}

/*------------------------------------*\
    MEDIA PRINT a4
\*------------------------------------*/

@media print {

  nav,
  .footer,
  .btn,
  .btn-container {
    display: none;
  }

  body {
    padding: 0;
    background: #fff;
    font-size: 11pt;
    color: #000;
  }

  .badge {
    color: #000 !important;
  }

  a:link,
  a:visited {
    color: #000;
    border: none;
  }

  main.container, .jumbotron {
    max-width: 100%;
    padding: 10px;
  }

  main > h2 {
    font-size: 1rem;
  }

}
