// bower:scss
@import "bower_components/bootstrap/scss/bootstrap";
@import "lux";

// enbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.field-required:after {
  content: "*";
  color: #f00;
}

/* nav bar styles
-------------------------------------------------- */
.navbar {
  padding-top: 0;
  padding-bottom: 0;

  .container {
    position: relative;

    .logged-user {
      position: absolute;
      right: 30px;
      top: 5px;
      text-transform: capitalize;
    }

  }
}

.navbar-brand img {
  height: 100px;
}

.nav-item {
  margin: 0;
}


/* card styles
-------------------------------------------------- */
.card-deck .card {
  min-height: 250px;
}

.card-header {
  &:first-child {
    border-radius: 0;
  }
  .score {
    float: right;
    font-weight: bold;
  }
}

.card-footer {
  background: none;
  border: none;
}


/* shedule styles
-------------------------------------------------- */

.schedule-desc {

  padding: 0.5rem 0 3rem;

  .col-lg-2.current {
    position: relative;
  }

  .col-lg-2.current:before {
    content: ".";
    position: absolute;
    display: block;
    top: 0;
    left: -5px;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-left-color: red;
  }


  .card-header {
    padding: 0;
    .btn {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem 1.25rem;
      text-transform: capitalize;
      text-decoration: none;

      .row span:last-child {
        text-align: right;
      }
    }

    .badge {
      font-weight: normal;
      font-size: .8rem;
    }

  }

}



/* login form styles
-------------------------------------------------- */
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  img {
    max-width: 500px;
  }
}

.partner-list {

  align-items: center;

  div[class*="col-"] {
    text-align: center;
  }

  img {
    max-width: 200px;
    vertical-align: middle;
    opacity: .2;
  }
}

/* Customize container */
@media (min-width: 48em) {
  //.container {
  //  max-width: 46rem;
  //}
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}

.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
