// bower:scss
@import "bower_components/bootstrap/scss/bootstrap";
@import "lux";
// enbower

// Media queries breakpoints
$screen-desktop: 1024px;
$screen-tablet: 767px;
$screen-phone: 480px;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/*------------------------------------*\
   COMMON Styles
\*------------------------------------*/

main.container {
  padding: 80px 15px;
}

.field-required:after {
  content: "*";
  color: #f00;
}

h4.badge-info {
  line-height: 1rem;
}

.badge-secondary-gray {
  color: #1a1a1a;
  background-color: #eee;
}

.badge-secondary-gray[href]:hover, .badge-secondary-gray[href]:focus {
  color: #1a1a1a;
  text-decoration: none;
  background-color: #e6e5e5;
}

.badge-primary a {
  color: #fff;
}


/*------------------------------------*\
   NAV Styles
\*------------------------------------*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;

  .container {
    position: relative;

    .logged-user {
      position: absolute;
      right: 15px;
      top: 5px;
      text-transform: capitalize;
    }
  }

  @media (max-width: $screen-tablet) {
    .nav {
      width: 100%;
      margin-top: 10px;
    }
    .nav-link {
      font-size: 0.7rem;
      padding: 0.5rem;
    }
  }

}

.navbar-brand img {
  height: 100px;
  @media (max-width: $screen-phone) {
    height: 50px;
  }
}

.nav-item {
  margin: 0;
}

/*------------------------------------*\
   STUDENT LIST Styles
\*------------------------------------*/

.student-list {
  tr {
    cursor: pointer;
  }

  .student-profile-container {
    padding: 0 0 0 100px;
    border: 0;

    .jumbotron {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.jumbotron .avatar {
  width: 100%;
}

.card-body .jumbotron {
  padding: 1rem 1rem;

  .tab-pane {
    max-width: 500px;
    margin: 3rem auto;
  }
}

/*------------------------------------*\
   CARD Styles
\*------------------------------------*/
.card-deck .card {
  min-height: 250px;
}

.card-header {
  &:first-child {
    border-radius: 0;
  }
  .score {
    float: right;
    font-weight: bold;
  }
}

.card-footer {
  background: none;
  border: none;
}

/*------------------------------------*\
   SCHEDULE Styles
\*------------------------------------*/

.schedule-desc {

  padding: 0.5rem 0 3rem;

  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.035);
  }

  .table .thead-dark th {
    color: #55595c;
    background-color: #ccc;
    border-color: #ccc;
  }

  td p, th p {
    @extend .col-form-label;
  }

  .card {
    margin-top: -2px;
  }

  .card.past {
    .card-header .btn-link {
      color: #bbb;
    }
  }

  & > .card > .card-header {
    padding: 0;
    .btn.btn-link {
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem 1.25rem;
      text-transform: capitalize;
      text-decoration: none;
      white-space: normal;

      .row span:last-child {
        text-align: right;
      }

      @media (max-width: $screen-tablet) {
        span[class^="col"] {
          max-width: 100%;
        }
      }
    }

    .badge {
      font-weight: normal;
      font-size: .8rem;

      &.badge-pill {
        line-height: 1rem;
      }
    }
  }


  .student-mark-card {
    .card-header {

     a {
       line-height: 1rem;
     }
    }
    .student-avatar {
      float: right;
      max-width: 50px;
      margin-left: 10px;
    }

  }

}

.schedule-desc--mentor {
  .card-header {
    .btn .row span:last-child {
      text-align: left;
    }
  }
}



.student-mark-list {
  .student-avatar {
    width: 100%;
    margin-bottom: 10px;
    //max-width: 200px;
  }
}



/*------------------------------------*\
   TABLE Score
\*------------------------------------*/

.table-score {
  a {
    color: #0278b8;
  }

  @media (max-width: $screen-tablet) {
    td, th {
      font-size: .9rem;
    }
  }

  @media (max-width: $screen-phone) {
    td, th {
      font-size: .6rem;
    }
  }
}

/*------------------------------------*\
    LOGIN page
\*------------------------------------*/
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  img {
    max-width: 500px;
  }
}

.partner-list {

  align-items: center;

  div[class*="col-"] {
    text-align: center;
  }

  img {
    max-width: 200px;
    vertical-align: middle;
    opacity: .2;
  }
}

/*------------------------------------*\
   Sticky FOOTER Styles
\*------------------------------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  overflow: hidden;
}

/*------------------------------------*\
    MEDIA tablet
\*------------------------------------*/

@media (max-width: $screen-tablet) {
  .form-control {
    padding: 0.5rem;
  }
}

/*------------------------------------*\
    MEDIA PRINT a4
\*------------------------------------*/

@media print {

  nav,
  .footer,
  .btn,
  .btn-container {
    display: none;
  }

  body {
    padding: 0;
    background: #fff;
    font-size: 11pt;
    color: #000;
  }

  .badge {
    color: #000 !important;
  }

  a:link,
  a:visited {
    color: #000;
    border: none;
  }

  main.container, .jumbotron {
    max-width: 100%;
    padding: 10px;
  }

  main > h2 {
    font-size: 1rem;
  }

}
